name: Qualys CloudView IaC Security
on: workflow_dispatch
  #push:
   # branches:
    #  - main
 # pull_request:
  #  branches:
   #   - main
permissions:
  contents: read
  security-events: write
  actions: read
jobs:
    Qualys_iac_scan:
        runs-on: ubuntu-latest
        name: Qualys IaC Scan
        steps:
          - name: Checkout
            uses: actions/checkout@v2
            with:
                fetch-depth: 0

          - name: Qualys IAC scan action step
            uses: Qualys/github_action_qiac@main
            id: qiac
            env:
              URL: ${{ secrets.URLDEV }}
              UNAME: ${{ secrets.USERNAMEDEV }}
              PASS: ${{ secrets.PASSWORDDEV }}
            #with:
            #  directory: .

          - name: Upload SARIF file
            uses: github/codeql-action/upload-sarif@v3
            if: always()
            with:
                  sarif_file: response.sarif
